@using GeziRehberi.Model
@model User
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    User user = null;
    if (Session["kullanici"] != null)
    {
        user = Session["kullanici"] as User;
    }
}
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="header_content d-flex flex-row align-items-center justify-content-start">
                    <div class="header_content_inner d-flex flex-row align-items-end justify-content-start">
                        <div class="logo"><a href="@Url.Action("Index","Home")">Travello</a></div>
                        <nav class="main_nav">
                            <ul class="d-flex flex-row align-items-start justify-content-start">
                                <li class="active"><a href="@Url.Action("Index","Home")">Anasayfa</a></li>
                                <li><a href="#sehirler">Şehirler</a></li>
                                <li><a href="@Url.Action("Index","Haber")">Haberler</a></li>
                                <li><a href="@Url.Action("Index","About")">Hakkımızda</a></li>
                                @if (user == null)
                                {
                                    <li><button type="button" value="Kullanıcı girişi" class="bg-transparent" data-toggle="modal" data-target="#exampleModal">Kullanıcı Girişi</button></li>
                                }
                                else
                                {
                                    <li class="nav-item dropdown">
                                        <a href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="top:50px !important;">
                                            @user.Name @user.Surname
                                        </a>

                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <a class="dropdown-item" href="@Url.Action("Hesap","Home")">Hesabım</a>
                                            <a class="dropdown-item" href="@Url.Action("Logout", "Account")">Çıkış Yap</a>
                                        </div>
                                    </li>
                                }

                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Destinations -->

<div class="destinations" id="destinations">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="section_title"><h2 id="sehirler">Popüler Rotalarımız</h2></div>
            </div>
        </div>
        <div class="row destinations_row">
            <div class="col">
                <div class="destinations_container item_grid">

                    <!-- Destination -->
                    <div class="destination item">
                        <div class="destination_image">
                            <img src="../../Assets/images/ist_690x500.jpg" alt="">
                        </div>
                        <div class="destination_content">
                            <div class="destination_title" id="1"><a href="@Url.Action("Index","City",new {id=1})">İstanbul</a></div>
                        </div>
                    </div>

                    <!-- Destination -->
                    <div class="destination item">
                        <div class="destination_image">
                            <img src="../../Assets/images/ankara_690x500.jpg" alt="">
                        </div>
                        <div class="destination_content">
                            <div class="destination_title" id="2"><a href="@Url.Action("Index","City",new {id=2})">Ankara</a></div>
                        </div>
                    </div>

                    <!-- Destination -->
                    <div class="destination item">
                        <div class="destination_image">
                            <img src="../../Assets/images/izmir_690x500.jpg" alt="">
                        </div>
                        <div class="destination_content">
                            <div class="destination_title" id="3"><a href="@Url.Action("Index","City",new {id=3})">İzmir</a></div>
                        </div>
                    </div>
                    <!-- Destination -->
                    <div class="destination item">
                        <div class="destination_image">
                            <img src="../../Assets/images/trabzon_690x500.jpg" alt="">
                        </div>
                        <div class="destination_content">
                            <div class="destination_title"><a href="@Url.Action("Index","City",new {id=4})">Trabzon</a></div>
                        </div>
                    </div>
                    <!-- Destination -->
                    <div class="destination item">
                        <div class="destination_image">
                            <img src="../../Assets/images/Gaziantep-2_690x500.jpg" alt="">
                        </div>
                        <div class="destination_content">
                            <div class="destination_title"><a href="@Url.Action("Index","City",new {id=5})">Gaziantep</a></div>

                        </div>
                    </div>

                    <!-- Destination -->
                    <div class="destination item">
                        <div class="destination_image">
                            <img src="../../Assets/images/mardin_690x500.jpg" alt="">
                        </div>
                        <div class="destination_content">
                            <div class="destination_title"><a href="@Url.Action("Index","City",new {id=6})">Mardin</a></div>
                        </div>
                    </div>

                    <!-- Destination -->
                    <div class="destination item">
                        <div class="destination_image">
                            <img src="../../Assets/images/pisa-kulesi-italya-810x540_690x500.jpg" alt="">
                        </div>
                        <div class="destination_content">
                            <div class="destination_title"><a href="@Url.Action("Index","City",new {id=7})">İtalya</a></div>
                        </div>
                    </div>

                    <!-- Destination -->
                    <div class="destination item">
                        <div class="destination_image">
                            <img src="../../Assets/images/pragg2-1_690x500.jpg" alt="">
                        </div>
                        <div class="destination_content">
                            <div class="destination_title"><a href="@Url.Action("Index","City",new {id=8})">Prag</a></div>
                        </div>
                    </div>
                    <!-- Destination -->
                    <div class="destination item">
                        <div class="destination_image">
                            <img src="../../Assets/images/fransa_690x500.jpg" alt="">
                        </div>
                        <div class="destination_content">
                            <div class="destination_title"><a href="@Url.Action("Index","City",new {id=9})">Fransa</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Action("Login", "Account")
@section scripts{
    <script>
        function giriskapa() {
            $('#exampleModal').modal('toggle');
        }
    </script>
}
@if (ViewBag.IsSuccess != null)
{
    @section modalscripts{

        <script>
            $('#exampleModal').modal('show');
        </script>
    }

}







